html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Press+Start+2P", rel="stylesheet")
        link(href="https://unpkg.com/nes.css/css/nes.css", rel="stylesheet")
        script(type="text/javascript" src="/js/shader.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js")
    body
        div(id="audio-player-container")
            audio(loop="loop" autoplay="autoplay")
                //source(src="/theme.mp3" type="audio/mpeg")
            button(id="mute-icon", class="nes-btn") Mute
            output(id="volume-output") 100
            input(type="range" id="volume-slider" max="100" value="100")
        nav
            h1="HealtyBoi"
            div
                a(href="/logout")
                  p="Log Out"
        if modalInfo != null
            section
              dialog(class="nes-dialog is-dark is-rounded", id="dialog-dark-rounded")
                form(method="dialog", class="custom-dialog")
                  p(class="title")=modalInfo.title
                  p=modalInfo.description
                  p!=modalInfo.extraHtml
                  menu(class="dialog-menu")
                    button(class="nes-btn is-primary", name="dialog-menu")="Confirm"

        div(class="container")
            each account in accounts
                form(class="card nes-container with-title is-dark is-rounded nes-text" method="POST")
                    if account.useShaderForProfilePicture
                        canvas(class="profile-picture-canvas" id=`profilePictureCanvas${account.id}` width=194 height=192)
                    else
                        img(src=account.img)
                    div(class="heart")
                    if account.id == loggedInId
                        a(href="/shader" style="color: rgb(20, 170, 255);")
                            h2(class="nex")=account.username
                    else
                        h2(class="nex")=account.username
                    h3 Level #{account.level}
                    div(class="status-bar")
                        span(class="is-primary")=account.xp
                        progress(class="nes-progress is-primary", value=account.xp, max=account.maxXp)
                    input(name="id", value=account.id, hidden)
                    if account.id == loggedInId
                        button(class="nes-btn is-success", name="add-xp")="+"
                        button(class="nes-btn is-error", name="remove-xp")="-"
                    else
                        button(class="nes-btn is-error", name="attack")="Attack"

        if modalInfo != null
            script="document.getElementById('dialog-dark-rounded').showModal();"
        script(type="text/javascript" src="/audio.js")
