html
    head
        title= title
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Press+Start+2P", rel="stylesheet")
        link(href="https://unpkg.com/nes.css/css/nes.css", rel="stylesheet")
        script(type="text/javascript" src="/js/shader.js")
    body
        nav
            h1="HealtyBoi"
            div
                p="Log Out"
        if modalInfo != null
            section
              dialog(class="nes-dialog is-dark is-rounded", id="dialog-dark-rounded")
                form(method="dialog", class="custom-dialog")
                  p(class="title")=modalInfo.title
                  p=modalInfo.description
                  p!=modalInfo.extraHtml
                  menu(class="dialog-menu")
                    button(class="nes-btn is-primary", name="dialog-menu")="Confirm"

        div(class="container")
            each account in accounts
                form(class="card nes-container with-title is-dark is-rounded nes-text" method="POST")
                    if account.useShaderForProfilePicture
                        canvas(class="profile-picture-canvas" id=`profilePictureCanvas${account.id}` width=194 height=192)
                    else
                        img(src=account.img)
                    div(class="heart")
                    if account.id == loggedInId
                        a(href="/shader" style="color: rgb(20, 170, 255);")
                            h2(class="nex")=account.username
                    else
                        h2(class="nex")=account.username
                    h3 Level #{account.level}
                    div(class="status-bar")
                        span(class="is-primary")=account.xp
                        progress(class="nes-progress is-primary", value=account.xp, max=account.maxXp)
                    input(name="id", value=account.id, hidden)
                    if account.id == loggedInId
                        button(class="nes-btn is-success", name="add-xp")="+"
                        button(class="nes-btn is-error", name="remove-xp")="-"

        div(id="welcome-balloon", class="nes-balloon from-left is-dark")
          p="Hejsan Svejsan!"

        if modalInfo != null
            script="document.getElementById('dialog-dark-rounded').showModal();"

